# Ignore arquivos e pastas comuns
*.o
*.exe
*.out
*.log
*.tmp
*.swp
*.bak
*.dSYM/

# Ignore pastas de compilação e temporários
build/
bin/
obj/

# Ignore arquivos gerados por editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore arquivos de sistema
.DS_Store
Thumbs.db

# Ignore qualquer arquivo de teste ou backup
test/
*.old

